:root {
	--book-cover-width: 200px;
	--book-cover-width-large: 325px;
	/* Width value is 75% of the Height value */
	--book-cover-aspect-ratio: 0.75;
}

.book-cover {
	width: var(--book-cover-width);
	height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
}

/* NOTE "book-cover-large" gets called in conjunction with "book-cover" */
.book-cover-large {
	/* Replacing the value of "--book-cover-width", which will recalculate the "book-cover" values */
	--book-cover-width: var(--book-cover-width-large);
}

.book-grid {
	display: grid;
	justify-content: center;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, var(--book-cover-width));
}

/* NOTE "book-grid-large" gets called in conjunction with "book-grid" */
.book-grid-large {
	/* Replacing the value of "--book-cover-width", which will recalculate the "book-grid" values */
	--book-cover-width: var(--book-cover-width-large);
	/* grid-template-columns: repeat(auto-fill, var(--book-cover-width-large)); */
}

.book-details {
  /* "flex" display element side by side */
  display: flex;
}

.book-details-label {
	font-size: 1.2rem;
	font-weight: 500;
	align-self: flex-start;
}

.book-details-grid {
	display: grid;
	align-self: flex-start;
	align-items: center;
	grid-gap: 1rem;
	/* TWO COLUMNS */
	grid-template-columns: auto auto;
}

.book-details-button-grid {
	display: grid;
	justify-items: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	grid-template-areas: "editButton deleteButton" "authorButton authorButton";
	grid-gap: 0.5rem;
	margin-top: 0.5rem;
}

.book-details-author-button {
	grid-area: authorButton;
	/* Stretching button full width */
	justify-self: stretch;
}
